.birthday-container {
  width: 40%;
  height: 90%;
  overflow: auto;
  background-color: white;
  box-shadow: black;
  border-radius: 5px;
  margin: 1rem auto 1rem;
}

.birthday-container h1 {
  margin: 1rem 2rem 1rem 1rem;
  font-weight: 400;
}

.birthday-container button {
  width: 80%;
  margin: 1rem auto 1rem;
  padding: 0.5rem 0 0.5rem;
  display: block;
  background-color: pink;
  color: white;
  font-size: x-large;
  border: none;
  border-radius: 2px;
}
